$--color-1: #000000;
$--color-2: #007bb6;
$--color-3: #6674cc;
$--color-4: #808080;
$--color-5: #2294ed;
$--color-6: #333333;
$--color-7: #f44336;
$--color-8: #f5f5f5;
$--color-9: #f8f8fd;
$--color-10: #ffa511;
$-color-11: #ffffff;
$--color-12: #1a2930;
$--color-14: #8ba6c0;
$--color-15: #b9cde4;
$--color-16: #e74694;
$--color-17: #ebf2fa;
$--color-18: #183b54;
$--color-19: #000000, opacity 0%;
$--color-20: #e74c3c, opacity 10%;
$--merriweather: "Merriweather", serif;
$--poppins: "Poppins", sans-serif;

#About {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 40px;
    background-color: #ebf2fa;
    flex-wrap: wrap;

    .AboutLogo {
        img {
            width: 140px;
        }
    }

    .AboutMethodologies {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {    
            font-family: $--poppins;
            font-size: 2rem;
            line-height: 2;
            color: #1a2930;
        }

        ul {
            li {
                a {
                    color: rgba(0, 0, 0, 0.788);
                    line-height: 2;
                    font-family: $--poppins;
                    font-weight: 500;
                    letter-spacing: .3px;
                    font-size: 1.4rem;
                    opacity: .9;
                    transition: .5s all;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}