.company_section {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .img_section {
        img {
            width: 100px;
            transition: .5s all;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}