@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Poppins:wght@300;500;600;700&display=swap");
.header_section {
  width: 100%;
  height: 8vh;
  background-color: #f8f8fd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
@media (max-width: 900px) {
  .header_section {
    background-color: red;
  }
}
.header_section .logo img {
  width: 130px;
  margin-left: 20px;
}
.header_section .links ul li {
  display: inline-block;
  margin-right: 30px;
}
.header_section .links ul li a {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  color: #000000;
  text-transform: capitalize;
  transition: 0.5s all;
}
.header_section .links ul li a:hover {
  color: #007bb6;
}
.header_section .links ul li .second {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #e74694;
  border: 1px solid #e74694;
  color: #ebf2fa;
  transition: 0.5s all;
}
.header_section .links ul li .second:hover {
  background-color: #ebf2fa;
  border-color: #e74694;
  color: #e74694;
}
.header_section .links ul li .first {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #e74694;
  color: #e74694;
  transition: 0.5s all;
}
.header_section .links ul li .first:hover {
  color: white;
  background-color: #e74694;
  border-color: #e74694;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

ul, li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.Product, .Resources {
  background-color: #ebf2fa;
  width: 170px;
  padding: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}
.Product ul li, .Resources ul li {
  margin-top: 20px;
}
.Product ul li a, .Resources ul li a {
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
  list-style: none;
  color: #000000;
}

.banner_section {
  padding: 10px;
  font-family: "Merriweather", serif;
}
.banner_section .box_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 30px;
}
.banner_section .box_section .first_box h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  width: 300px;
  line-height: 1.2;
  opacity: 0.8;
  color: #183b54;
}
.banner_section .box_section .first_box p {
  font-weight: 500;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 10px 0px;
  opacity: 0.6;
  color: #183b54;
}
.banner_section .box_section .first_box button {
  padding: 10px 20px;
  background-color: #2294ed;
  border: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  border: 1px solid #007bb6;
  transition: 0.5s all;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.2rem;
}
.banner_section .box_section .first_box button:hover {
  background-color: #f8f8fd;
  color: #000000;
}
.banner_section .box_section .second_box {
  padding: 10px;
  align-items: center;
  text-align: center;
}
.banner_section .box_section .second_box img {
  width: 500px;
}
.banner_section .text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.banner_section .text span {
  text-align: center;
  font-size: 1.6rem;
  color: #183b54;
}

.company_section {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
.company_section .img_section img {
  width: 100px;
  transition: 0.5s all;
  cursor: pointer;
}
.company_section .img_section img:hover {
  transform: scale(1.2);
}

.card_btn button {
  padding: 10px 20px;
  font-family: "Merriweather", serif;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #183b54;
  border-radius: 4px;
  border: 1px solid #b9cde4;
  transition: 0.5s all;
  cursor: pointer;
}
.card_btn button:hover {
  color: #007bb6;
  border-color: #007bb6;
}
.card_btn button img {
  margin-left: 4px;
}

.card_section {
  padding: 20px 30px;
}
.card_section .card_container_one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_section .card_container_one h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 2;
  color: #007bb6;
}
.card_section .card_container_two {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card_section .card_container_two .cards {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
  transition: 0.5s all;
}
.card_section .card_container_two .cards:hover {
  transform: scale(1.02);
}
.card_section .card_container_two .cards .img img {
  width: 40px;
}
.card_section .card_container_two .cards h3 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 2;
  color: rgb(2, 141, 255);
}
.card_section .card_container_two .cards p {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
}

#About {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 40px;
  background-color: #ebf2fa;
  flex-wrap: wrap;
}
#About .AboutLogo img {
  width: 140px;
}
#About .AboutMethodologies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#About .AboutMethodologies h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 2;
  color: #1a2930;
}
#About .AboutMethodologies ul li a {
  color: rgba(0, 0, 0, 0.788);
  line-height: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  opacity: 0.9;
  transition: 0.5s all;
}
#About .AboutMethodologies ul li a:hover {
  opacity: 1;
}

.social_sections {
  display: flex;
  flex-wrap: wrap;
  padding: 22px;
  background-color: #b9cde4;
  justify-content: space-evenly;
  align-items: center;
}
.social_sections .info {
  display: flex;
  align-items: center;
}
.social_sections .info p {
  margin-left: 20px;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Merriweather", serif;
}
.social_sections .social_links ul li {
  display: inline-block;
  margin-right: 25px;
}
.social_sections .social_links ul li a i {
  font-size: 1.7rem;
  color: #000000;
  opacity: 0.9;
  transition: 0.5s all;
}
.social_sections .social_links ul li a i:hover {
  opacity: 1;
}

.ReviewContainer {
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.ReviewContainer .box {
  text-align: center;
  padding: 14px;
  margin: 20px;
  width: 200px;
}
.ReviewContainer .box h3 {
  font-size: 1.7rem;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #183b54;
}
.ReviewContainer .box p {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  text-transform: capitalize;
  color: #183b54;
}/*# sourceMappingURL=App.css.map */